.svelte-kit/**
.vercel_build_output/**
static/**
build/**
node_modules/**
.yarn/**
/coverage
CHANGELOG.md
src/lib/models/types/**
.idea
dev-dist

/infra/helm/templates/deployment.yaml
infra/helm/templates/ingress.yaml
schema.graphql
$houdini
infra/hasura

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
