.svelte-kit/**
.vercel_build_output/**
static/**
build/**
node_modules/**
.yarn/**
/coverage
CHANGELOG.md
src/lib/models/types/**
.idea

/infra/helm/templates/deployment.yaml
infra/helm/templates/ingress.yaml
schema.graphql
