{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 500,
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"tabWidth": 2,
				"bracketSpacing": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2
			}
		}
	],
	"tabWidth": 4,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "strict",
	"svelteStrictMode": true,
	"svelteAllowShorthand": false
}
