{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 500,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"tabWidth": 4,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "strict",
	"svelteStrictMode": true,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteAllowShorthand": false
}
